@page
@model BackendApp1.Pages.ProductDetailsModel

<h1>Produktdetaljer</h1>

@if (Model.Product != null)
{
    <div>
        <h2>@Model.Product.Name</h2>

        <a href="@Model.Product.ImageUrl" target="_blank">
            <img src="@Model.Product.ImageUrl" alt="@Model.Product.Name" />
        </a>
        <p>Pris: @Model.Product.Price</p>
        <p>Kategori: @Model.Product.Category</p>
        <p>Beskrivning: @Model.Product.Description</p>

        <form method="post" asp-page-handler="AddToCart" asp-route-productId="@Model.Product.ProductId">
            <button type="submit" class="button">Lägg till i varukorg</button>
        </form>
    </div>
}
else
{
    <p>Produkten hittades inte.</p>
}
